# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
.ipynb_checkpoints
*.pyc
.vscode
.swp
.swo
.DS_Store
venv/
credenciales.py
pymakr.conf