ansible==2.9.6
apache-libcloud==2.8.0
appdirs==1.4.4
apt-xapian-index==0.49
argcomplete==1.8.1
asgiref==3.2.7
attrs==19.3.0
backcall==0.1.0
bcrypt==3.1.7
bleach==3.1.4
blinker==1.4
buildozer==1.1.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
command-not-found==0.3
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.19
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
Django==3.0.5
django-leaflet==0.26.0
dnspython==1.16.0
entrypoints==0.3
fabric==2.5.0
filelock==3.0.12
gpg===1.13.1-unknown
httplib2==0.14.0
idna==2.8
importlib-metadata==1.6.0
invoke==1.4.1
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.9.4
json5==0.9.4
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
jupyterlab==2.1.1
jupyterlab-server==1.1.1
keyring==18.0.1
Kivy==1.10.1
kiwisolver==1.2.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
line-profiler==3.0.2
lockfile==0.12.2
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
multibootusb==9.2.0
nbconvert==5.6.1
nbformat==5.0.6
netaddr==0.7.19
netifaces==0.10.4
notebook==6.0.3
ntlm-auth==1.1.0
numpy==1.18.4
oauthlib==3.1.0
olefile==0.46
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.7.0
pep517==0.6.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.6.1
psutil==5.5.1
psycopg2-binary==2.8.5
ptyprocess==0.6.0
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
Pygments==2.6.1
PyGObject==3.36.0
PyJWT==1.7.1
pykerberos==1.1.14
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==2.4.6
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.16.0
PySide2==5.15.0
python-apt==2.0.0
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-xapp==1.8.1
python-xlib==0.23
pytoml==0.1.21
pytz==2019.3
pyudev==0.21.0
pywinrm==0.3.0
PyYAML==5.3.1
pyzmq==19.0.0
reportlab==3.5.34
requests==2.22.0
requests-kerberos==0.12.0
requests-ntlm==1.1.0
requests-unixsocket==0.2.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
scipy==1.4.1
screen-resolution-extra==0.0.0
seaborn==0.10.1
SecretStorage==2.3.1
selinux==3.0
Send2Trash==1.5.0
setproctitle==1.1.10
sh==1.13.1
shiboken2==5.15.0
simplejson==3.16.0
sip==4.19.21
six==1.14.0
sqlparse==0.3.1
systemd-python==234
terminado==0.8.3
testpath==0.4.4
tinycss==0.4
toml==0.10.1
tornado==6.0.4
traitlets==4.3.3
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
usb-creator==0.3.7
vboxapi==1.0
virtualenv==20.0.21
wadllib==1.3.3
wcwidth==0.1.9
webencodings==0.5.1
xkit==0.0.0
xmltodict==0.12.0
yq==2.10.1
zipp==3.1.0
