{% extends "base.html" %}
{% load leaflet_tags %}
{% load static %}

{% block js %}{% leaflet_js %}{% endblock %}
{% block css %}{% leaflet_css %}{% endblock %}

{% block title %}SHIELD Homepage{% endblock title %}


{% block content %}

          
    <h1>SHIELD</h1>
    <h2>Strategic Homeland Intervention, Enforcement, and Logistics Division</h2>

    <p>Welcome to our webpage!</p>

    <img width="30%" height="30%" src="{% static 'logo.png' %}">


    {% leaflet_map "globalmap" %}

  


{% endblock content %}
